<!DOCTYPE html>
<html>
    <head>
        <title>Publicaciones</title>
    </head>
    <body>
        <section>
            <h1><a href='/listado/'>Publicaciones</a><h1>
                <h2>{{ post.title}}</h2>
                <p>{{ post.body }}</p>
                <p>{{ post.author}} - <em>{{ post.author.email}}</em></p>
                <ul>
                    {% for galeria in galerias %}
                        <li>{{ galeria }}</li>
                    {% endfor %}
                </ul>
        </section>
    </body>
</html>
